{% extends 'base.html' %}
{% block title %}Filmes recomendados para o usuário{% endblock %}

{% block content %}
    <div id="content-container" class="container">
            <form id="movie-form" method="post"
                  action="{% url 'recommendation_view' %}">
                  {% csrf_token %}
                  <script>
                    userMovies = {{json|safe}};

                    function get_whatched_movies(){
                        $('#movies_id').find('option').remove();
                        var id_user= $('#users_id option:selected').val();
                        var list_movies_id = userMovies[id_user].movie_id;
                        var list_movies_name = userMovies[id_user].movie_title;
                        var cont = 0;
                        for(var movie in list_movies_id){
                            $('#movies_id').append("<option value="+list_movies_id[movie]+">"+list_movies_name[cont]+"</option>");
                            cont++;
                        }

                        $('#movies_id').removeAttr("disabled");
                    }
                </script>
                  {{form_movie}}
                  <div class="input-field">
                            <button class="btn right orange darken-4" type="submit" name="btn-movie" value="0">Buscar</button>
                    </div>
             </form>

            <hr>
            <form id="user-form" method="post"
                  action="{% url 'recommendation_view' %}">
                {% csrf_token %}
                <h2>Filmes recomendados para o usuário</h4>
                <br/><br/>
                    <div class="form-group">
                        {{form.as_p}}
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <button class="btn right orange darken-4" type="submit" name="btn-recommendation" value="1">Buscar</button>
                        </div>
                    </div>

            </form>
    </div>
{% endblock content %}